.navBar{
  display: flex;
  gap:1rem;
  width: 100vw;
  
}

.topNav{
  border-radius: 10px 10px 0 0;
  padding:2rem;
  width: fit-content;
  font-weight: bolder;
  background-color: #0c1530;
  color:white;
  
}
.active{
  border:1px solid #0c1530;
  background: white;
  color:#142566;
  border-bottom:none
}
.taskBar{
  display: flex;
}
.taskBarButton{
  padding:1rem;
}
.taskBarButton:hover{
  background:#ddd;
  border-radius: 5px;
}

.outerContainer{
  padding:2rem;
  border:1px solid black;
}
.container{
  border:1px solid grey;
}
.textArea{
  width:100%;
  height:40vh;
  /* font-weight: bolder; */
}

.taskBarDropDown{
  background: #ddd;
  display: flex;
  padding:1rem;
  justify-content: space-between;
  align-items: center;
  min-width:6rem;
  border-radius: 5px;
  cursor: pointer;
}

.dropDown{
  display: flex;
  align-items: flex-start;
  /* position: absolute; */
  /* left: 20% */
}

.drop{
  position: absolute;
  left: 14%;
  display:flex;
}
.output{
  border-radius: 2rem;
  border:2px solid navy;
  padding:1rem;

}